<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Prudente/Desktop/Nova Pasta/Appium/Appium_Advanced/src/test/java/tests/ToDoTest.java">
        <classes> <class name = "tests.ToDo_Android"></class> </classes>
    </test>
</suite>